.ChampturkB150 {font-family:ChampturkB;font-weight: bold;color:#bf4c4c;clear:left}
.ChampturkI150 {font-family:ChampturkI;font-style: italic;color:#1E852A;}
.ChampturkI14 {font-family:ChampturkI;font-style: italic;color:#18B495;}
.Champturk14 {font-family:Champturk;}
.ChampturkBI14 {font-family:ChampturkBI;font-weight: bold;font-style: italic;color:#0B7C95;}
.ChampturkBI150 {font-family:ChampturkB;font-weight: bold;font-style: italic;color:#bf4c4c;clear:left;}
.Champturk150 {font-family:ChampturkB;}
.ChampturkB16 {font-family:ChampturkB;font-weight: bold;color:#bf4c4c;clear:left;}
.Arabic18 {font-family:Arabic;direction: rtl}
.Temizle {font-family: Champturk;font-style: normal;color: #000000;font-weight: normal;}